/*#region Standard tags*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
body {
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  counter-reset: participants;
  overflow-y: scroll; }

h1, h2 {
  margin-bottom: 15px;
  color: black; }

h3 {
  color: black; }

a {
  color: #0a71d0; }

a:hover {
  cursor: pointer; }

td {
  vertical-align: top; }

input:-webkit-autofill {
  -webkit-text-fill-color: #123 !important; }

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #123 !important; }

input:-webkit-autofill::selection {
  -webkit-text-fill-color: #123 !important; }

input::selection {
  color: #fff !important;
  background: #ededed !important; }

input[type=text], input[type=textarea], textarea, input[type=number], input[type=password], input[type=email], .inputcontainer {
  max-width: 280px; }

textarea::selection {
  color: #fff !important;
  background: #ededed !important; }

/*#endregion*/
/*#region Class specific*/
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.image-container {
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px; }

@media (min-width: 768px) {
  .image-container {
    max-width: 300px; } }

@media (min-width: 1200px) {
  .image-container {
    max-width: 400px; } }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

@media (max-width: 767px) {
  .form-control {
    -ms-border-radius: 4px !important;
    border-radius: 4px !important; } }

.pageOf {
  position: absolute;
  right: 28px;
  top: 45px; }

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999; }

.dim {
  z-index: 9999;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(230, 230, 230, 0.78);
  height: 100vh; }

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 -25px 0;
  border-bottom: 6px solid rgba(0, 0, 0, 0.1);
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  border-right: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid rgba(0, 0, 0, 0.4);
  -ms-border-radius: 100%;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  animation: rot .6s infinite linear; }

@keyframes rot {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.itemFocused {
  font-size: 24px !important;
  -webkit-transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  -ms-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in; }

.itemFocused:hover {
  cursor: pointer;
  background: transparent; }

.itemFocused:active {
  border: 0 solid transparent;
  border-radius: 5px;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  -ms-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in; }

@media (max-width: 767px) {
  .mobilePaddingLeft {
    padding-left: 18px; } }

.noBullets {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

.myPageExtraBookingInfo {
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.k-scheduler-footer {
  display: none !important; }

.k-lg-date-format {
  margin-left: 5px; }

.k-today {
  background-color: transparent !important; }

.k-scheduler {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none; }

.k-calendar .k-content .k-link {
  padding: 0 .45em 0 .45em;
  text-align: center; }

.k-calendar .k-state-selected > .k-link {
  background-color: #3F51B5; }

.k-nonwork-hour {
  background: #ffeded; }

.k-link, .k-nav-day {
  /*display: none;*/ }

.k-window-title {
  color: white; }

.k-header {
  background-color: #d33; }

.k-i-close {
  color: white; }

.k-window-titlebar .k-window-action {
  opacity: 1; }

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #d3d3d3;
  background: rgba(211, 211, 211, 0.45); }

.overlayContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 250px; }

.input-group {
  margin-bottom: 10px; }

.win-flyout:not(.win-menu) button,
.win-flyout:not(.win-menu) input[type="button"] {
  margin-top: 16px;
  margin-left: 20px;
  float: right; }

.bootstrappifyMarginRight {
  margin-right: 15px; }

.bootstrappifyMarginLeft {
  margin-left: 15px; }

.right {
  float: right; }

.inputWrapper {
  display: inline-block;
  width: 100%; }

.centerContents {
  position: fixed;
  top: 50%;
  width: 100%; }

.input-group-addon {
  text-align: left; }

.row {
  padding: 5px 0; }

/*.container label {
    color: white;
}*/
.book {
  background-position: 50% 50%;
  /* Sets reference point to scale from */
  background-size: 40%;
  /* Sets background image to cover entire element */
  background-repeat: no-repeat;
  height: 45px;
  min-width: 45px; }

.k-grid .k-alt td {
  background-color: #f5f5f5;
  /* specify the alternate background-color */ }

.k-grid td {
  padding: 4px !important; }

.k-grid {
  margin: 0 15px; }

@media screen and (max-width: 755px) {
  .container > * {
    padding: 0; } }

.blockular {
  height: 90px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  width: 90px;
  max-width: 90px;
  margin: 0 auto;
  max-height: 90px; }

.pagination {
  margin: 10px;
  margin-top: 20px; }

.pageContainer {
  display: inline-block;
  float: right; }

.pageContainer a {
  color: #123;
  text-decoration: none; }

.page {
  -moz-transition: 0.15s linear all;
  -ms-transition: 0.15s linear all;
  -o-transition: 0.15s linear all;
  -webkit-transition: 0.15s linear all;
  background: #ddd;
  border-radius: 3px;
  height: 30px;
  margin: 3px;
  padding: 8px;
  transition: 0.15s linear all;
  width: 30px; }

.page:hover {
  background: #999;
  color: #fff; }

.active {
  background: #666;
  color: white !important; }

.col-sm-9 > a {
  color: black; }

.col-sm-9 > p {
  margin: 0 0 20px; }

@media (max-width: 991px) {
  .dateAndBookCol {
    border-top: solid 1px;
    border-color: black;
    margin-top: 10px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
  .dateAndBookCol {
    border-top: none; } }

@media (min-width: 768px) {
  .readMoreLink {
    position: absolute;
    bottom: 0;
    right: 15px; }
  .dateAndBookCol {
    border-left: solid 1px;
    border-color: black; } }

@media (min-width: 768px) {
  .flexWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.field-validation-valid {
  display: none; }

.validation-summary-valid {
  display: none; }

.input-validation-error.form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

participantNameWrapper > .row > .col-sm-12 > li {
  list-style-type: none; }

@media (max-width: 600px) {
  .partpopup td {
    display: block; } }

.noTitle .ui-dialog-titlebar {
  display: none; }

.text-input[data-val-notempty] + span::after {
  content: "*";
  position: relative; }

.text-input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.text-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.partpopup {
  border-top: 1px solid #272;
  margin-top: -1px; }

@media (min-width: 768px) {
  .navbar-header .row .col-xs-8 {
    display: none; }
  .partDivider {
    display: none; } }

.filterWrapper {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #efefef;
  border: none; }

.template-panel {
  margin-bottom: 20px;
  color: black;
  background-color: white;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.template-panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  background-color: #d33;
  color: white; }

.btn {
  border-radius: 0; }

.template-btn {
  color: #fff;
  background-color: #6ab165;
  border: #6ab165; }

.template-btn:hover,
.template-btn:focus,
.template-btn:active,
.template-btn.active,
.open .dropdown-toggle.template-btn {
  color: #fff;
  background-color: #51974c;
  border-color: #51974c; }

.template-btn:active,
.template-btn.active,
.open .dropdown-toggle.template-btn {
  background-image: none; }

.template-btn.disabled,
.template-btn[disabled],
fieldset[disabled] .template-btn,
.template-btn.disabled:hover,
.template-btn[disabled]:hover,
fieldset[disabled] .template-btn:hover,
.template-btn.disabled:focus,
.template-btn[disabled]:focus,
fieldset[disabled] .template-btn:focus,
.template-btn.disabled:active,
.template-btn[disabled]:active,
fieldset[disabled] .template-btn:active,
.template-btn.disabled.active,
.template-btn[disabled].active,
fieldset[disabled] .template-btn.active {
  background-color: #b0aaee;
  border-color: #958ee8; }

.datesquare {
  background: #0a71d0;
  color: #fff;
  float: left;
  font: 14px/16px "Trade Gothic",Helvetica,Arial,sans-serif;
  margin: 0 14px 0 0;
  padding: 13px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 66px; }

.datesquare strong {
  display: block;
  font: 700 1.7143em/1.0833 "Trade Gothic",Helvetica,Arial,sans-serif;
  margin: 3px 0 0; }

.sortlink {
  color: #999;
  font-size: 13px; }

.sortlink.sortactive {
  text-decoration: underline;
  color: #0a71d0; }

.sortheader {
  text-transform: uppercase;
  font-weight: 600; }

.courselistitem h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 10px;
  text-align: left; }

.courselistitem .footer {
  font-family: "Open Sans", sans-serif; }

.courselistitem .header a {
  text-transform: uppercase;
  color: #999; }

.courselistitem .header a:hover {
  text-transform: uppercase;
  color: #0a71d0; }

.sortul {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; }

.sortul li {
  padding: 0 0 0 28px;
  display: inline; }

.personnelactionwrapper a {
  white-space: nowrap;
  margin-right: 10px;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px; }
  .personnelactionwrapper a i {
    width: 27px; }

.validinputcb {
  color: green; }

.validinputcb, .requiredsymbol {
  position: absolute;
  top: 30%;
  right: 10px;
  display: none; }

.requiredsymbol {
  color: #a94442; }

.inputcontainer {
  position: relative;
  display: inline-block;
  width: 100%; }
  .inputcontainer textarea.form-control[data-val-required] ~ .requiredsymbol, .inputcontainer textarea.form-control[data-val-requiredif] ~ .requiredsymbol, .inputcontainer input.form-control[data-val-required] ~ .requiredsymbol, .inputcontainer input.form-control[data-val-requiredif] ~ .requiredsymbol {
    display: inline; }
  .inputcontainer textarea.form-control[data-val-required].valid, .inputcontainer textarea.form-control[data-val-requiredif].valid, .inputcontainer input.form-control[data-val-required].valid, .inputcontainer input.form-control[data-val-requiredif].valid {
    border-color: green; }
    .inputcontainer textarea.form-control[data-val-required].valid ~ .validinputcb, .inputcontainer textarea.form-control[data-val-requiredif].valid ~ .validinputcb, .inputcontainer input.form-control[data-val-required].valid ~ .validinputcb, .inputcontainer input.form-control[data-val-requiredif].valid ~ .validinputcb {
      display: inline; }
    .inputcontainer textarea.form-control[data-val-required].valid ~ .requiredsymbol, .inputcontainer textarea.form-control[data-val-requiredif].valid ~ .requiredsymbol, .inputcontainer input.form-control[data-val-required].valid ~ .requiredsymbol, .inputcontainer input.form-control[data-val-requiredif].valid ~ .requiredsymbol {
      display: none; }

.single-participant-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  max-width: 755px; }
  .single-participant-wrapper .row {
    padding-top: 0; }

@media (max-width: 991px) {
  .single-participant-wrapper {
    border-bottom: 1px solid gray;
    padding-top: 10px; } }

.fieldsWrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  max-width: 755px; }

@media (max-width: 991px) {
  .fieldsWrapper {
    border-bottom: 1px solid gray;
    padding-top: 10px; } }

.removeParticipant {
  position: absolute;
  top: 50%;
  left: 85vw;
  z-index: 1; }

@media (min-width: 880px) {
  .removeParticipant {
    left: 710px; } }

@media (max-width: 300px) {
  .removeParticipant {
    top: 0;
    right: 5vw;
    left: auto; } }

@media (max-width: 767px) {
  .mobileMarginTop-10 {
    margin-top: 10px; } }

/*personalsida*/
@media (min-width: 768px) {
  .invertedsmfloat.col-sm-1, .invertedsmfloat.col-sm-2, .invertedsmfloat.col-sm-3,
  .invertedsmfloat.col-sm-4, .invertedsmfloat.col-sm-5, .invertedsmfloat.col-sm-6,
  .invertedsmfloat.col-sm-7, .invertedsmfloat.col-sm-8, .invertedsmfloat.col-sm-9,
  .invertedsmfloat.col-sm-10, .invertedsmfloat.col-sm-11 {
    float: right; } }

.panel-primary {
  border-color: white;
  -webkit-box-shadow: 1px 0 6px 1px #000000;
  -webkit-box-shadow: 1px 0 6px 1px #000000;
  -ms-box-shadow: 1px 0 6px 1px #000000;
  -ms-box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 6px 1px #000000;
  box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.1); }
  .panel-primary > .panel-heading {
    color: white;
    background-color: #d33;
    border-color: #d33; }
    .panel-primary > .panel-heading h1, .panel-primary > .panel-heading h2, .panel-primary > .panel-heading h3, .panel-primary > .panel-heading h4, .panel-primary > .panel-heading h5, .panel-primary > .panel-heading h6 {
      color: white; }
  .panel-primary .panel-primary > .panel-heading {
    background-color: #e35656;
    border-color: #e35656; }

.panel-body {
  background-color: white; }
  .panel-body .panel-body {
    background-color: #fafafa; }

.navbar-inverse {
  background-color: #d33;
  border: none;
  color: #fff;
  z-index: 99; }
  .navbar-inverse .navbar-toggle {
    background-color: #d33;
    border: 1px solid #a81c1c; }
    .navbar-inverse .navbar-toggle:hover {
      background-color: #d33;
      border: 1px solid #a81c1c; }
  .navbar-inverse .navbar-collapse {
    border: none; }
  .navbar-inverse .navbar-nav > li > a {
    color: #fff; }
    .navbar-inverse .navbar-nav > li > a.log-out-link {
      color: #e6e6e6; }
  .navbar-inverse .active-nav-tab {
    background-color: #ec8a8a; }

.datestring {
  text-transform: capitalize;
  font-size: 16px; }

.participantinfo {
  text-overflow: ellipsis;
  overflow: hidden; }

.course-holder {
  display: none; }

.navbar-inverse .navbar-brand, .login-logo-wrapper .navbar-brand {
  background-color: white;
  /*padding:20px;*/
  margin-right: 10px; }
  .navbar-inverse .navbar-brand img, .login-logo-wrapper .navbar-brand img {
    min-height: 1px;
    max-width: 100px;
    margin-top: -7px; }
  .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .login-logo-wrapper .navbar-brand:focus, .login-logo-wrapper .navbar-brand:hover {
    background-color: white; }

.login-logo-wrapper .navbar-brand {
  float: none;
  padding: 0; }
  .login-logo-wrapper .navbar-brand img {
    max-width: 200px;
    margin-top: 0;
    margin-right: 0; }

@media (max-width: 767px) {
  .navbar-brand {
    padding: 20px; } }

.toggler {
  width: 100%;
  height: 25px;
  background: #ededed;
  border: 1px solid #eeeeee;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

.topText {
  width: 100%;
  height: 100vh;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 99999; }

.interestContainer {
  max-width: 230px !important; }

.interestContainerValid {
  right: 60px !important; }

.ui-button-icon.ui-icon.ui-icon-closethick, .ui-dialog-titlebar-close {
  outline: 0; }

.noPaddingRows .row {
  padding-top: 0px;
  padding-bottom: 0px; }

.sidesPadding {
  padding-left: 15px;
  padding-right: 15px; }

.boxPadding {
  padding-top: 5px;
  padding-bottom: 5px; }

.onHoverPanel:hover {
  cursor: pointer; }

.personnelPopup {
  height: 390px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #d4d4d4;
  margin-top: 5px;
  padding: 5px; }

@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -10px; } }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #e6e6e6; }

.navbar-inverse .navbar-nav > li > .active-nav-tab:hover {
  background-color: #ec8a8a; }

.navbar-inverse .navbar-nav > li > .active-nav-tab:focus {
  background-color: #ec8a8a; }

.navbar-inverse .navbar-nav > li > .active-nav-tab:active {
  background-color: #ec8a8a; }

.bookingWrapper {
  border-style: solid;
  border-color: #272;
  border-radius: 5px;
  max-width: 1000px; }

a .k-icon {
  background-image: none; }

.k-header {
  background-color: #d33; }

.k-calendar .k-header .k-state-hover {
  background-color: #ec8a8a; }

.k-calendar .k-state-selected > .k-link {
  background-color: #d33; }

.k-calendar td.k-state-selected {
  background-color: #d33; }

/*#endregion*/
/*#region Id specific*/
#scheduler {
  border-top: 0;
  border: 1px solid #3F51B5 !important; }

#showCompany {
  display: block; }

#participantWrapper > hr {
  border-top-color: black; }

/*#endregion*/

